{{define "types"}}

{{- $typeMap := .TypeMap -}}
{{- $types := .Types -}}

// region Types
{{if $types}}
{{range $_i, $type := $types}}{{if gt $_i 0}}

{{end}}{{if isEnumType $type}}
@Serializable(with = {{$type.Name}}Serializer::class)
enum class {{$type.Name}}(val wireValue: String) {
{{- range $_, $field := $type.Fields}}
    {{$field.Name}}("{{$field.Name}}"),
{{- end}}
    UNKNOWN_DEFAULT("UNKNOWN_DEFAULT");

    companion object {
        fun fromWireValue(value: String): {{$type.Name}} {
            return values().find { it.wireValue == value } ?: UNKNOWN_DEFAULT
        }
    }
}

object {{$type.Name}}Serializer : KSerializer<{{$type.Name}}> {
    override val descriptor: SerialDescriptor =
        String.serializer().descriptor

    override fun serialize(encoder: Encoder, value: {{$type.Name}}) {
        encoder.encodeSerializableValue(
            String.serializer(),
            value.wireValue,
        )
    }

    override fun deserialize(decoder: Decoder): {{$type.Name}} {
        return {{$type.Name}}.fromWireValue(
            decoder.decodeSerializableValue(
                String.serializer(),
            ),
        )
    }
}
{{else if isAliasType $type}}
typealias {{$type.Name}} = {{template "type" dict "Type" $type.Type "TypeMap" $typeMap}}
{{else if isStructType $type}}
@Serializable
data class {{$type.Name}}(
    {{- range $_, $field := $type.Fields}}

    {{- $isExportable := true -}}
    {{- range $meta := $field.Meta -}}
        {{- if exists $meta "json" -}}
            {{- if eq (printf "%v" (get $meta "json")) "-" -}}
                {{- $isExportable = false}}
            {{- end -}}
        {{- end -}}
    {{- end }}

    {{- if $isExportable }}
    @SerialName("{{template "codingKey" dict "Field" .}}")
    val {{template "fieldName" dict "Field" .}}: {{template "type" dict "Type" $field.Type "TypeMap" $typeMap}}{{if .Optional}}? = null{{end}},
    {{- end -}}
    {{- end}}
)
{{end}}{{end}}
{{end}}

// endregion
{{end}}
